/* RESETS */
:root {
  scroll-behavior: smooth;
  font-family: "Nunito";
  --swiper-pagination-bottom: -4px;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-border-radius: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: #fdfdfd;
  max-width: 1920px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.break {
  display: block;
  height: 10px !important;
}

/* UTILITY CLASSES */
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: auto;
}

.container-fluid {
  width: 90%;
  margin: auto;
  max-width: 1366px;
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.align-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.justify-align-center, .event-list div:first-child, .event-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-align-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.pt, .download-file-container, .why-partnership-section .reason {
  padding: 1rem 0;
}

.px-small {
  padding: 0 0.25rem;
}

.p-around {
  padding: 1rem;
}

.m-around {
  margin: 1rem;
}

.mt {
  margin: 1rem 0;
}

.fade-item {
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}
.fade-item.fade-and-slide-in {
  opacity: 1 !important;
}

header {
  position: relative;
  overflow: hidden;
}

/* HERO SECTION STYLING */
.hero-section {
  max-height: 700px;
  height: 75vh;
  overflow: hidden;
  position: relative;
}

.hero-image {
  display: none;
}

.hero-text {
  color: white;
  position: absolute;
  bottom: 15%;
  left: 5%;
  transform: translate(0, -15%);
}
.hero-text * {
  font-size: 1.5rem;
  font-weight: 900;
}

.flexbox {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexbox h1 {
  padding: 0.5rem 0;
  text-align: center;
  text-transform: capitalize;
}
.flexbox :nth-of-type(2) .textbox {
  order: 1;
}
.flexbox :nth-of-type(2) .image-box {
  order: 2;
}
.flexbox > div {
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;
}

.flexbox.alternate .image-box {
  justify-content: flex-end;
}

.textbox {
  padding: 1rem 0;
  justify-content: center;
  order: 1;
  flex-direction: column;
}

.image-box {
  order: 2;
  aspect-ratio: 1;
}
.image-box img {
  width: 100%;
  border-radius: 10px;
}

.else .boxescontainer {
  gap: 2.5rem !important;
}
.else .boxescontainer .box {
  width: 100%;
  aspect-ratio: unset;
  height: 120px;
  position: relative;
  background-color: #fff;
  font-size: 0.9rem;
}
.else .boxescontainer .box .circle {
  width: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.projects,
.else {
  padding: 1rem 0;
}
.projects h1,
.else h1 {
  text-transform: capitalize;
}
.projects .boxescontainer,
.else .boxescontainer {
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
.projects .boxescontainer .box,
.else .boxescontainer .box {
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.0509803922);
  flex-grow: 1;
  width: 250px;
  max-width: 300px;
}

.projects .box {
  aspect-ratio: 1;
}

.upcoming-event h1 {
  text-align: center;
}
.upcoming-event .textbox {
  align-self: center;
  width: 100%;
}
.upcoming-event .divider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event-list {
  padding: 0.25rem 0.5rem;
  display: flex;
  color: black;
  gap: 0.5rem;
  border-bottom: 1px solid black;
}
.event-list div:first-child, .event-list div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.event-list div:first-child {
  padding: 0 0.5rem;
  width: -moz-max-content;
  width: max-content;
  width: 80px;
  font-size: 10px;
  border-left: 4px solid blue;
}
.event-list div:first-child p:first-child {
  font-weight: 900;
  font-size: large;
}
.event-list div:nth-child(2) {
  width: 100%;
  justify-self: flex-start;
}
.event-list div:nth-child(2) p:first-child {
  font-weight: 900;
  font-size: large;
}
.event-list:hover .fa-arrow-right {
  animation: bounce 0.5s ease-in-out infinite;
}
.event-list .fa-arrow-right {
  font-size: 20px;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}
.event-list .image-box {
  display: none;
}

.trans {
  transform: translateY(-100%);
  display: none;
  overflow: hidden;
}

/*
HOME PAGE MEDIA QUERIES
*/
@media screen and (min-width: 500px) {
  .hero-section {
    height: 100vh;
    position: relative;
  }
  .hero-text * {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .upcoming-event > .event-list {
    width: 70%;
  }
  .flexbox {
    flex-direction: row;
    gap: 1rem;
  }
  .image-box {
    order: unset;
    aspect-ratio: 4/3;
    align-self: center;
  }
  .image-box img {
    border-radius: 10px;
    width: 80%;
  }
  .textbox {
    order: unset;
    padding: unset;
  }
  .else .boxescontainer .box {
    width: 200px !important;
    gap: unset;
  }
}
@media screen and (max-width: 768px) {
  .upcoming-event .upcoming-event-image {
    display: none;
  }
}
.brand__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.15;
}

.brand-image {
  width: 30px;
  aspect-ratio: 1;
}

.brand-name {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.brand-motto {
  color: black;
  font-size: 12px;
  font-weight: 400;
}

.brand-logo {
  display: block;
  width: 21px;
  aspect-ratio: 1;
}

.dropdown-menu {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  margin-left: 1rem;
  box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
}

@media screen and (min-width: 970px) {
  .dropdown-menu {
    width: 200px;
    margin-left: 0;
    position: absolute;
    transform: translateY(0.5rem);
    background-color: #fff;
    box-shadow: 0px 1.5px 4px 1px rgb(224, 224, 224);
  }
}
.hide-dropdown {
  display: none;
}

.flexnav, .header-nav-section .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-section {
  width: 100%;
  position: relative;
  background-color: white;
  position: relative;
}
.header-nav-section.sticky {
  position: sticky !important;
  width: 100%;
  max-width: 1920px;
  top: 0;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.0509803922);
  z-index: 2;
  background-color: white;
}
.header-nav-section.sticky .brand__container {
  color: black;
}
.header-nav-section.sticky .bar {
  color: black !important;
}
.header-nav-section.sticky .button, .header-nav-section.sticky .link {
  color: black !important;
}
.header-nav-section .container-fluid {
  padding: 0.5rem 0;
}
.header-nav-section .container-fluid > * {
  color: white;
  text-decoration: none;
}

.bar {
  color: black !important;
}

.brand-container {
  order: 1;
}

.brand-misc {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: black;
}

.nav__toggle {
  order: 2;
}
.nav__toggle * {
  color: black;
}

.nav__items {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.nav__items .link {
  color: black;
  display: block;
  text-decoration: none;
  padding: 0.55rem 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  text-align: left;
}

.nav__toggle {
  width: 40px;
  aspect-ratio: 1;
  background-color: inherit;
  border: 0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
  width: auto;
}
.nav-buttons a {
  padding: 0.5rem 1rem;
  width: auto;
  border-radius: 10px;
  color: white;
  margin: 0;
  font-size: 0.75rem;
}
.nav-buttons .explore {
  color: white;
  border: 1px solid white;
}

.sticky .brand-misc {
  background-color: white;
  border-top: 1px solid white;
}
.sticky .brand-misc .explore {
  color: black !important;
}

.sticky .button, .sticky .link {
  color: rgb(102, 101, 101) !important;
}

@media screen and (min-width: 970px) {
  .brand-container {
    flex: 1;
    color: black;
  }
  .nav__items {
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-end;
  }
  .hide-dropdown {
    display: none;
  }
  .explore {
    color: white !important;
  }
  .brand-misc {
    position: relative;
    display: flex !important;
    width: 70%;
    z-index: 50;
    justify-content: space-between;
    background-color: inherit;
  }
  .nav__items, .nav-buttons {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .nav__toggle {
    display: none;
  }
  .nav__items, .nav-buttons {
    display: flex;
    flex-direction: row;
  }
  .nav__items .link, .nav-buttons .link {
    color: black;
    text-align: left;
  }
  .nav-buttons .button:not(.explore) {
    color: white !important;
  }
}
.main-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.message-header {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.presidents-profile {
  margin: auto;
  position: relative;
  width: 300px;
  aspect-ratio: 1;
  display: block;
}
.presidents-profile img {
  border-radius: 5px;
  height: 100%;
}

.quote {
  margin-top: 2%;
  text-align: center;
  color: rgb(146, 146, 146);
}

#presidents-image {
  display: none;
}

@media screen and (max-width: 500px) {
  .presidents-profile::after {
    right: -7%;
    bottom: 1%;
    transform: translate(-5%, -5%);
  }
}
@media screen and (min-width: 720px) {
  .presidents-profile {
    flex: 1;
    position: relative;
    display: block;
  }
  .presidents-profile img {
    border-radius: 5px;
  }
  .presidents-message {
    flex: 2;
    font-size: larger;
  }
  .main-content {
    flex-direction: row !important;
    gap: 4rem;
  }
}
.about .container, .mission .container, .goal .container {
  padding-bottom: 1rem;
}
.about h1, .mission h1, .goal h1 {
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 0;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .about p, .mission p, .goal p {
    font-size: 1rem;
  }
}
.about {
  padding-top: 1rem !important;
}
.about h1 {
  color: #2d7bd8;
}
.about p {
  color: #040c15;
}

.mission {
  background-color: #4288db;
  color: #fff;
}

.goal {
  background-color: #2d7bd8;
  color: #fff;
}

.discover > h1 {
  text-align: center;
  font-size: 2rem;
  width: 200px;
  margin-inline: auto;
}
.discover > h1 hr {
  width: 40%;
  margin: auto;
}

.discover .card {
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.discover .card:hover .banner {
  opacity: 1;
  cursor: pointer;
}
.discover .banner {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: red;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0 6px 6px 0;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.discover .banner.red {
  background-color: red;
}
.discover .banner.yellow {
  background-color: orange;
}
.discover .banner.blue {
  background-color: #2d7bd8;
}
.discover .banner.green {
  background-color: rgb(0, 212, 0);
}
.discover .banner.purple {
  background-color: rgb(187, 0, 187);
}
.discover .banner.green {
  background-color: rgb(0, 212, 0);
}
.discover .banner.cyan {
  background-color: brown;
}

.partnership-hero-section {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnership-hero-section .container-fluid {
  text-align: center;
}
.partnership-hero-section .container-fluid h1 {
  font-weight: 600;
}
.partnership-hero-section .container-fluid span {
  color: #2d7bd8;
}

.why-partnership-section h1 {
  text-align: center;
  padding: 1rem 0;
}
.why-partnership-section .reasons-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.why-partnership-section .reason {
  background-color: rgba(160, 160, 247, 0.568);
  padding: 1rem 0.5rem;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 4px rgb(247, 247, 247);
}

.our-partners-section h1 {
  text-align: center;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;
}
.partners-container li, .partners-container a {
  display: block;
}

.partners-logo {
  max-width: 200px;
}

.partnership-hero-section {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/48483887.jpg) center center;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 600px;
  background-size: cover;
  color: white;
}

@media screen and (min-width: 720px) {
  .partnership-hero-section {
    height: 50vh;
  }
  .reasons-container {
    flex-direction: row !important;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .reason {
    flex-basis: 45%;
    padding: 1rem 0.5rem;
  }
  .partners-container {
    justify-content: center !important;
  }
}
.partner {
  flex-direction: column;
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
.partner #form {
  display: flex;
  flex-direction: column;
}

.form-con {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .partner, .partner > #form {
    flex-direction: row;
  }
  .partner {
    gap: 2rem;
  }
  .partner > * {
    flex-basis: 100%;
  }
  .partner #form {
    gap: 1rem;
  }
  .formgroups {
    flex-basis: 100%;
  }
}
.staff-header {
  text-align: center;
  background-color: #2d7bd8;
  color: white;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.card-container {
  overflow: visible;
}

.card-title {
  padding: 0.75rem 0;
  font-size: 1.45rem;
}

.swiper {
  margin: 1rem 0 2rem 0;
}

.card-description {
  padding: 0.25rem 0.5rem;
}

.card {
  background-color: white;
  aspect-ratio: 4/3;
  box-shadow: 0px 0px 6px 4px #fafafa;
  border-radius: 6px;
}
.card img {
  border-radius: 6px 6px 0 0;
}

@media screen and (max-width: 480px) {
  .swiper-button-next, .swiper-button-prev, .swiper-pagination {
    display: none !important;
  }
}
@media screen and (min-width: 720px) {
  .card {
    flex-basis: 33.3333333333%;
  }
}
.swiper-wrapper {
  padding-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .card-container {
    justify-content: center;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden !important;
  }
  .card {
    flex: 1;
    flex-basis: 25%;
    max-width: 250px;
    aspect-ratio: 3/4;
  }
}
#privacypolicy .header-text {
  font-weight: 800;
  padding: 1rem;
  text-align: center;
}
#privacypolicy .header-text > p {
  margin: 1rem 0;
}
#privacypolicy .list {
  display: block;
  padding: 0.5rem 0;
}
#privacypolicy .sublist-container {
  margin-left: 2rem;
}
#privacypolicy .sublist {
  padding: 0.5rem 0;
}

.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}

.card-details {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.time-posted {
  font-size: 0.9rem;
}

@media screen and (max-width: 480px) {
  .blog-card {
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    display: flex !important;
    gap: 1rem;
    width: 100%;
    max-width: unset !important;
  }
  .blog-card .container-fluid {
    padding: 0.5rem;
  }
  .blog-card .card-details {
    order: 2;
  }
  .blog-card .text {
    order: 1;
  }
  .blog-card .text h3 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .blog-card .buttons {
    order: 3;
  }
  .blog-card .image-container {
    order: 1;
    width: 200px;
    aspect-ratio: 1 !important;
  }
  .blog-card .banner {
    font-size: 0.8rem !important;
  }
  .blog-card .buttons {
    display: none;
  }
  .blog-card .card-details {
    padding: 0;
    justify-content: unset;
    gap: 1rem;
  }
}
.blog-card {
  display: block;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.0901960784);
  color: black;
  flex: 0 1 auto;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  max-width: 300px;
}
.blog-card .container-fluid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog-card .image-container {
  width: 100%;
  aspect-ratio: 4/3;
}
.blog-card img {
  display: none;
}
.blog-card p {
  color: rgb(139, 139, 139);
}
.blog-card .banner {
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.blog-card .banner.red {
  background-color: red;
}
.blog-card .banner.yellow {
  background-color: orange;
}
.blog-card .banner.blue {
  background-color: #2d7bd8;
}
.blog-card .banner.green {
  background-color: rgb(0, 212, 0);
}
.blog-card .banner.purple {
  background-color: rgb(187, 0, 187);
}
.blog-card .banner.green {
  background-color: rgb(0, 212, 0);
}
.blog-card .banner.cyan {
  background-color: brown;
}

.blog-header {
  text-align: center;
  padding: 1.5rem 0;
}
.blog-header h1 {
  font-size: 2rem;
  font-weight: 700;
}
.blog-header p {
  font-size: 1.125rem;
  color: rgb(150, 150, 150);
}

@media screen and (min-width: 720px) {
  .blog-page .image-container {
    height: 80vh;
  }
}
.blog-section.container-fluid {
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons .seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  border: 0;
  background-color: #2d7bd8;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 6px;
}
.buttons .seeMore a {
  font-weight: 700;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  text-decoration: none;
}
.buttons .seeMore a :hover {
  background-color: transparent;
}
.buttons .seeMore :hover {
  background-color: #4288db;
}

.share-links {
  display: flex;
  gap: 0.75rem;
}
.share-links a {
  display: block;
  font-size: 1.25rem;
}
.share-links .fa-facebook {
  color: #3b5998;
}
.share-links .fa-instagram {
  color: #fd1d1d;
}
.share-links .fa-twitter {
  color: #00acee;
}

.blog-buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}
.blog-buttons .share-buttons a {
  display: block;
  font-size: 1rem;
}

.register-button {
  display: block;
  padding: 0.25rem 0.75rem;
  background-color: #2d7bd8;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
}

.share-buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  align-items: center;
}
.share-buttons .fa-facebook {
  color: #3b5998;
}
.share-buttons .fa-instagram {
  color: #fd1d1d;
}
.share-buttons .fa-twitter {
  color: #00acee;
}

.blog-page .image-container {
  width: 100%;
  aspect-ratio: 1 !important;
}
.blog-page img {
  display: none;
}
.blog-page p {
  padding: 0.5rem 0;
}
.blog-page h2 {
  padding: 1rem 0;
}

.reply-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reply-section form [type=submit] {
  width: 100px;
  padding: 0.25rem 1rem;
}

.formgroup input, .formgroup textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  outline: 0;
  border: 1pt solid rgba(128, 128, 128, 0.123);
  transition: box-shadow 0.2s ease-in-out;
}
.formgroup input:focus, .formgroup textarea:focus {
  box-shadow: 0px 0px 1px 1px rgba(2, 135, 212, 0.644);
}
.formgroup [name=reply] {
  height: 4rem;
  padding: 0.5rem;
}

.download-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.download-file-container {
  width: 150px;
  flex-grow: 1;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 4px 2px rgba(236, 236, 236, 0.89);
  transition: 0.2s ease-in-out;
}
.download-file-container:nth-child(even) {
  background-color: rgb(198, 198, 255);
  color: white;
}
.download-file-container:nth-child(even):hover {
  background-color: white;
  color: black;
}
.download-file-container:nth-child(odd) {
  color: black;
}
.download-file-container:nth-child(odd):hover {
  background-color: rgb(198, 198, 255);
  color: white;
}

.library-filter .mt {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.library-filter select {
  padding: 0.5rem 1rem;
  border: 1pt solid grey;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cookies-popup {
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  left: 0;
  width: 100%;
  z-index: 300;
}
.cookies-popup > .container-fluid {
  padding: 1rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.cookie-button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.cookie-button-container button {
  padding: 0.5rem 1rem;
  align-self: center;
  cursor: pointer;
  font-weight: 700;
  border-radius: 4px;
}
.cookie-button-container button#acceptCookiesButton {
  background-color: rgb(13, 13, 243);
  border: none;
  color: white;
}
.cookie-button-container button#rejectCookiesButton {
  border: 1pt solid rgb(61, 61, 253);
  color: black;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .cookies-popup > .container-fluid {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cookies-popup > .container-fluid h3 {
    text-align: center;
  }
}
footer {
  background-color: black;
  z-index: 200 !important;
}
footer * {
  color: rgb(83, 83, 83);
}

.footer-layout {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-layout * {
  color: rgb(218, 218, 218);
}

.footer-layout-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-layout-item .title {
  padding: 0.5rem 0;
  font-weight: 600;
}
.footer-layout-item a {
  padding: 0.25rem 0;
  display: block;
}

.footer-layout-item hr {
  width: 12%;
  animation: slide-line 1s ease-in-out infinite;
}

.footer-layout-item:nth-child(1) hr {
  animation-duration: 1.515s;
  width: 12%;
}

.footer-layout-item:nth-child(2) hr {
  animation-duration: 1.53s;
  width: 12%;
}

.footer-layout-item:nth-child(3) hr {
  animation-duration: 1.545s;
  width: 12%;
}

.footer-layout-item:nth-child(4) hr {
  animation-duration: 1.56s;
  width: 12%;
}

.footer-layout-item:nth-child(5) hr {
  animation-duration: 1.575s;
  width: 12%;
}

@keyframes slide-line {
  0% {
    width: 12%;
  }
  50% {
    width: 13.5%;
  }
  100% {
    width: 12%;
  }
}
.footer__sponsors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer__sponsors-section a {
  display: block;
  width: 100px;
  aspect-ratio: 16/9;
}

.footer-title {
  color: white;
}
.footer-title .footer-image-container {
  width: 50px;
  border-radius: 50%;
  padding: 0.5rem;
}
.footer-title img {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 500px) {
  .footer-layout {
    justify-content: flex-start;
  }
  .footer-layout-item {
    flex: 1;
    flex-basis: 150px;
  }
}
.low-footer {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 4rem;
  width: 100%;
  max-width: 500px;
  font-size: 0.9rem;
}
.low-footer p {
  font-weight: bold;
}
.low-footer li {
  padding: 0 0.25rem;
  display: inline-block;
}
.low-footer * {
  color: rgb(83, 83, 83);
}

.contact-links {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.social-links-container, .sponsors-links-container {
  display: flex;
  gap: 0.5rem;
}

.social-link {
  display: block;
  font-size: 30px;
}

header {
  position: relative;
}