.partnership-hero-section{
    height: auto;
    // background-color: red;
    display: flex;
   
    justify-content: center;
    align-items: center;

    .container-fluid{
        text-align: center;
        h1{
            font-weight: 600;
        }

        span{
            color: $darker-blue;
        }
    }
}
.why-partnership-section{

    h1{
        text-align: center;
        padding: 1rem 0;
    }    
    .reasons-container{
    gap: 1rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .reason{
        background-color: rgba(160, 160, 247, 0.568);
        padding:1rem .5rem;
        @extend .pt;
        border-radius: 2px;
        box-shadow: 1px 1px 2px 4px rgb(247, 247, 247);

    }
}

.our-partners-section{
    h1{
        text-align: center;
    }
}
.partners-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
    li, a{
        display: block;
    }
}
@media screen and (max-width: 500px) {
    // .partners-container{
    //     grid-template-columns: repeat(2, 1fr);
    // }
   
}
.partners-logo{
    max-width: 200px;
}
.partnership-hero-section{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/48483887.jpg) center center;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 600px;
    background-size: cover;
    color: white;
}
@media screen and (min-width: 720px) {
    .partnership-hero-section{
        height: 50vh;
    }
    .reasons-container{
        flex-direction: row !important;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .reason{
        flex-basis: 45%;
        // width: 100%;
        padding: 1rem .5rem;
    }
    .partners-container{
        justify-content: center !important;
    }
   
}

.partner{
    flex-direction: column;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    #form{
        display: flex;
        flex-direction: column;
    }
 
}
.form-con{
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    gap: .5rem;
  
}
@media screen and (min-width:768px) {
    .partner,.partner > #form{
        flex-direction: row;
    }
    .partner{
        gap: 2rem;
        > *{
            flex-basis: 100%;
        }
        #form{
            gap: 1rem;
            
        }
    }
    .formgroups {
        flex-basis: 100%;
    }
}